@import "./variable";
@import "./mixin";

.Service {
  .content_wrapper {
    @include inner;
    padding: 130px 0 190px 0;

    .content_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;

      .content_title {
        @include content_title;
      }

      .content_desc {
        @include content_desc;
      }
    }

    .content_item_wrapper {
      .slick-slider {
        .slick-dots {
          // outline: 1px solid red;
          bottom: -60px;

          li {
            // outline: 1px solid red;
            width: 60px;
            height: 10px;
            margin: 0 auto;

            &.slick-active button::before {
              content: "";
              width: 60px;
              height: 8px;
              background: $main_color;
              border-radius: 10px;
              opacity: 1;
              transition: 0.2s;
            }

            button {
              &::before {
                content: "";
                width: 40px;
                height: 8px;
                background: #ece9ff;
                border-radius: 10px;
                opacity: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        .slick-list {
          .slick-slide {
            & > div {
              padding: 0 20px;
              .slide_item_wrapper {
                // outline: 1px solid red;

                display: block !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                gap: 35px;

                img {
                  margin: 0 0 30px 0;
                }

                .slide_item {
                  flex: 1;
                  background: #f8f8f8;
                  padding: 60px;
                  border-radius: 20px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  min-height: 500px;

                  .slide_item_text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    strong {
                      display: block;
                      font-size: 5rem;
                      font-weight: $fw_bold;
                      margin: 0 0 30px 0;
                    }

                    span {
                      display: block;
                      font-size: 2.2rem;
                      font-weight: $fw_light;
                      line-height: 1.54;
                      text-align: center;
                    }

                    .max_width {
                      max-width: 400px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
